body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-family: "Helvetica Neue", sans-serif;
	line-height: 1.5;
	
}

a{
	color: #fff;
	text-decoration: none;
}

a:visited{
	color: none;
	text-decoration: none;
}

.left_panel {
	background: #32323e; float : left;
	height: 100vh;
	width: 15%;
	color: #fff;
	float: left;
}


.right_panel {
	float: right;
	max-height: 100vh;
	width: 85%;
	background: #fff;
	color: #000;
	overflow: scroll;
	overflow-x: hidden;
}




.clear {
	clear: both;
}

/*
*	LEFT SIDE
*/
.logo {
	vertical-align: middle;
	text-align: center;
	margin: 25px 0;
}

.logo>img {
	width: 60%;
}

.left_panel_menu {
	/*margin: 25px 25px 0 25px;*/
}

.left_panel_menu .title {
	margin: 25px 25px 0 35px;
	font-size: 16px;
	
}

.left_panel_menu_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.left_panel_menu_list a {
	font-size: 24px;
	display:block;
	padding: 8px 0px 8px 40px;
	border-left: 6px solid #32323e;
	
}

.left_panel_menu_list a:hover {
	background: #101014;
	border-left: 6px solid #6441a5;
}

#game-list-header {
	float: left;
	margin-left: 25px;
	width: 50%;
}

input[type="search"] {
	margin: 30px 0px 0px 0px;
	width: 230px;
	height: 40px;
	padding: 0px 0px 0px 10px;
	font-size: 24px;
	color: #FFF;
	background-color: #000;
	border-color: #ccc;
}

/*
*	RIGHT SIDE
*/
.twitch-widget-gamelist {
	overflow-y: scroll;
}

.twitch-widget-gamelist>a {
	margin: 10px 0 0 15px;
}

.twitch-widget-streamlist {
	overflow-y: scroll;
}

.twitch-widget-streamlist>a {
	margin: 10px 0 0 15px;
}

.game_item {
	max-width: 136px;
	height: 238px;
	float: left;
	margin: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	border-radius: 5px;
	padding: 5px;
	border: 2px solid #FFF;
}

.game_item:hover {
	
    border: 2px solid #7550ba;
}


.game_status {
	
	font-size: 14px;
	color: #6B6B6B;
}

.stream_img {
	max-width: 320px;
	height: 232px;
	float: left;
	margin: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	border-radius: 5px;
	padding: 5px;
	border: 2px solid #FFF;
}

.stream_img:hover {
	border: 2px solid #7550ba;
}


/*
*	STREAM SIDE
*/


.left_panel_stream {
	background: #32323e;
	height: 100vh;
	width: 100%;
	color: #fff;
	float: left;
}

.left_panel_chat{
	float: right;
	width: 250px;
	height: 800px;
}

.back{
	position: absolute;
	top: 10px;
	left: 10px;
}

.back img{
	width: 36px;
	height: 36px;
}

.hide_chat{
	position: absolute;
	top: 10px;
	right: 10px;
}

.hide_chat img{
	width: 32px;
	height: 32px;
}

#img_hide{
	width: 32px;
	height: 32px;
}

