body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-family: "Helvetica Neue", sans-serif;
	line-height: 1.5;
}

a{
	color: #fff;
	text-decoration: none;
}

a:visited{
	color: none;
	text-decoration: none;
}

.left_panel {
	background: #32323e; float : left;
	height: 100vh;
	width: 20%;
	color: #fff;
	float: left;
}

.left_panel_stream {
	background: #32323e; float : left;
	height: 100vh;
	width: 100%;
	color: #fff;
	float: left;
}

.right_panel {
	float: right;
	height: 100%;
	width: 80%;
	background: #fff;
	color: #000;
}

.right_panel_stream{
	float: right;
	height: 100vh;
	width: 20%;
	background: #fff;
	color: #000;
}

li {
	list-style-position: inside;
	list-style-type: none;
	list-style: none;
}

.clear {
	clear: both;
}

/*
*	LEFT SIDE
*/
.logo {
	vertical-align: middle;
	text-align: center;
	margin: 25px 0;
}

.logo>img {
	width: 80%;
}

.left_panel_menu {
	margin: 25px 25px 0 25px;
}

.left_panel_menu_list {
	list-style-type: none;
	list-style-position: inside;
	min-height: 30px;
	font-size: 24px;
}

.left_panel_menu_list>li:hover {
	background: #101014;
}

#game-list-header {
	float: left;
	margin-left: 25px;
	width: 50%;
}

input[type="search"] {
	width: 250px;
	height: 30px;
	float: right;
	margin: 25px 25px;
}

/*
*	RIGHT SIDE
*/
.twitch-widget-gamelist {
	overflow-y: scroll;
}

.twitch-widget-gamelist>a {
	margin: 10px 0 0 15px;
}

.twitch-widget-streamlist {
	overflow-y: scroll;
}

.twitch-widget-streamlist>a {
	margin: 10px 0 0 15px;
}


.stream_img{
	max-width: 320px;
	height: 232px;
	float: left;
	margin: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/*
*	STREAM SIDE
*/

.back{
	position: absolute;
	top: 10px;
	left: 10px;
}

.back img{
	width: 36px;
	height: 36px;
}

.hide_chat{
	position: absolute;
	top: 10px;
	right: 10px;
}

.hide_chat img{
	width: 32px;
	height: 32px;
}

#img_hide{
	width: 32px;
	height: 32px;
}

